<html>
<head>
  <title>Let's play SET!</title>
  
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/style.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<script src="https://code.jquery.com/jquery.js"></script>

  <script src="static/sample.js"> </script>

</body>



<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SET</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Combinatorics</a></li>
      <li><a href="#">Game Rules!</a></li>
    </ul>
  </div>

{% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% else %}
    <a type="button" class="btn btn-outline-primary btn-sm active" href='/register'>Sign Up!</a>
    <br><br>
    <a type="button" class="btn btn-outline-primary btn-sm active" href='/login'>Log in!</a>
{% endif %}

</nav>
  
<div class="container-fluid">


</div>
  
<div class='row'>
<div class='col-lg-2'>

</div>
<div class='col-lg-2'>
<img src='static/images/pdf1.gif' id = "image1" class = 'img-rounded'/>
</div>
<div class='col-lg-2'>
<img src='static/images/gss3.gif' id = "image2" class = 'img-rounded'/>
</div>
<div class='col-lg-2'>
<img src='static/images/gde2.gif' id = "image3" class = 'img-rounded'/>
</div>


<div class='row'>
<div class='col-lg-2'>
<img src='static/images/gde1.gif' id = "image4" class = 'img-rounded' class = 'img-response'/>
</div>
</div>
<div class='col-lg-2'>
<img src='static/images/rse2.gif' id = "image5" class = 'img-rounded'/>
</div>
<div class='col-lg-2'>
<img src='static/images/pdf2.gif' id = "image6" class = 'img-rounded'/>
</div>
<div class='col-lg-2'>
<img src='static/images/rde2.gif' id = "image7" class = 'img-rounded'/>
</div>


<div class='row'>
<div class='col-lg-2'>
<img src='static/images/roe3.gif' id = "image8" class = 'img-rounded' class = 'img-response'/>
</div>
</div>
<div class='col-lg-2'>
<img src='static/images/pse2.gif' id = "image9" class = 'img-rounded'/>
</div>
<div class='col-lg-2'>
<img src='static/images/poe3.gif' id = "image10" class = 'img-rounded'/>
</div>
<div class='col-lg-2'>
<img src='static/images/gsf2.gif' id = "image11" class = 'img-rounded'/>
</div>
<div class='col-lg-2'>
<img src='static/images/pde3.gif' id = "image12" class = 'img-rounded'/>
</div>

</div>


{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}

{% endblock %}


  </body>
</html>
