{% extends 'base.html' %}
{% block content %}


<head>
  <title>Let's play SET!</title>

  <h2> SET SAMPLE </h2>
  
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="static/style.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js'></script>

<script src='static/sample.js' ></script>



</head>


  <p>Card
    <button id="get-deck-button" class="btn btn-primary">Get Card</button>
  </p>

  <div id="deck-text"></div>




<div id = 'images'>

     <table>
        <tr>
        <td><img src="static/cards/pdf1.gif"></td>
        <td><img src="static/cards/gds3.gif"></td>
        <td><img src="static/cards/gss3.gif"></td>
        <td><img src="static/cards/pos3.gif"></td>
      </tr>
      <tr>
        <td><img src="static/cards/gof2.gif" id='image1'></td>
        <td><img src="static/cards/psf1.gif"></td>
        <td><img src="static/cards/rse3.gif"></td>
        <td><img src="static/cards/rss2.gif"></td>
      </tr>
      <tr>
        <td><img src="static/cards/goe2.gif"></td>
        <td><img src="static/cards/psf2.gif"></td>
        <td><img src="static/cards/rde3.gif"></td>
        <td><img src="static/cards/poe2.gif"></td>
      </tr>
     </table>

</div>
{% endblock %}

